<header>
    <nav>
        <ul class="primary clearfix">
            <li class="logo">
                <a href="{{ path('app_home_index') }}">Home</a>
            </li>
            <li>
                <a href="{{ path('app_user_index') }}">Utilisateurs</a>
            </li>
            <li>
                <a href="{{ path('app_word_index') }}">Gros mots</a>
            </li>
            <li>
                <a href="{{ path('app_userword_index') }}">Liens Utilisateur/Gros mot</a>
            </li>
        </ul>
    </nav>
</header>
