{% extends "layouts/layout.html.twig" %}

{% block bodyContent %}
    <div id="mainCol">
        <div id="title">
            <h1>Ajouter un lien Personne/Gros mot</h1>
            <a href="{{ path('app_userword_index') }}">Retour</a>
        </div>

        {% include "/userword/form.html.twig" %}
    </div>
{% endblock %}